:root {
  /*color*/
  --white-color: #fff;
  --black-color: rgb(14, 8, 8);
  --grey-dark-color: rgb(107, 107, 107);
  --bg-color: #D2D2FF;
  --btn-hover-bg-color: #A0A0FF;
  --input-bg-color:#e9e9ff;


  /*size*/
  --padding1: 2rem;
  --padding2: 4rem;
  --padding3: 8rem;

  /*font size*/

  --font-large4: 32px;
  --font-large3: 28px;
  --font-large2: 24px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
  --font-icon: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*paddng, margin 포함되서 사이즈가 결정되도록*/
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-color);
}
header {
  width:52rem;
  padding: var(--padding1) var(--padding1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  margin-bottom: var(--padding1);
  font: var(--black-color);
  text-decoration: none;
}
a span{
  font-size:var(--font-large4);
}


#app {
  padding-left: var(--padding1);
  padding-right: var(--padding1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
nav{
  width:36rem;
  display: flex;
  justify-content: space-around;
}
main{
  padding: var(--padding1) var(--padding1);
  margin-top: var(--padding1);
  background-color: var(--white-color);
}

.category-todo-info {
  width:36rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--padding1);

}
#category-title{
  font-size:var(--font-large3);
}
.todo-count{
  padding-top: 8px;
}
.todo-category-name {

  background: var(--white-color);
  color: var(--black-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}

.todo-category-name:active,
.todo-category-name:hover,
.todo-category-name:focus {
  background: var(--btn-hover-bg-color);
  outline: 0;
}

#todo-form{
  display: flex;
}
#todo-text{
  width: 26rem;
  height: 3rem;
  border: none;
  background: var(--input-bg-color);
  border-radius: 4px;
  padding-left: var(--font-small);

}

#todo-text:focus {outline:none;}

#todo-form-submit-button{
  height: 3rem;
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  background: var(--btn-hover-bg-color);
  box-shadow: none;
}